body {
    font-family: sans-serif;
    text-align: center;
    background-color: antiquewhite;
}

.hader {
    background-color: rgb(255, 201, 120);
    height: 60px;
    width: 450px;
    margin-left: 450px;
    margin-bottom: 150px;
    border: 20px;
    border-radius: 5px;
    text-align: center;
}

.focus {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.button-sumit {
    position: absolute;
    width: 120px;
    height: 35px;
    background-color: burlywood;
    border: 30px;
    border-radius: 15px;
    left: 690px;
}

.button-sumit-y:hover {
    background-color: rgb(255, 170, 60);
}

.button-sumit-y {
    margin-right: 150px;
    width: 120px;
    height: 35px;
    background-color: burlywood;
    border: 30px;
    border-radius: 15px;
}

.h1t {
    color: white;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    font-size: 35px;
    text-align: center;
}